useDynLib(causalSLSE, .registration = TRUE, .fixes="F_")
importFrom(stats, quantile, lm, predict, coef, vcov, printCoefmat, cov, pnorm,
           as.formula, model.frame, model.matrix, delete.response, formula, 
           na.omit, pf, qnorm, residuals, terms, var, fitted, nobs, .getXlevels, update)
importFrom(graphics, grid, legend, matplot)
importFrom(sandwich, vcovHC, vcovHAC)
importFrom(texreg, extract, createTexreg)
importFrom(methods, setMethod)

export(cslseModel, print.cslseModel, causalSLSE, print.cslse,
       summary.cslse, selSLSE, selSLSE.cslseModel, 
       print.summary.cslse, plot.slseFit,
       extract, predict.slseFit, estSLSE, estSLSE.cslseModel,
       print.slseFit, 
       summary.slseFit, print.summary.slseFit, causalSLSE, causalSLSE.cslseModel,
       causalSLSE.slseFit, causalSLSE.formula)
 
S3method(summary, cslse)
S3method(summary, slseFit)
S3method(causalSLSE, slseFit)
S3method(causalSLSE, cslseModel)
S3method(causalSLSE, formula)
S3method(selSLSE, cslseModel)
S3method(estSLSE, cslseModel)
S3method(pvalSLSE, cslseModel)
S3method(update, cslseKnots)
S3method(print, cslseModel)
S3method(print, cslseKnots)
S3method(print, cslse)
S3method(print, summary.cslse)
S3method(print, summary.slseFit)
S3method(plot, slseFit)
S3method(print, slseFit)
S3method(predict, slseFit)
S3method(model.matrix, cslseModel)


