importFrom(stats, quantile, lm, predict, coef, vcov, printCoefmat, cov, pnorm,
           as.formula, model.frame, model.matrix,
           na.omit, pf, qnorm, residuals, terms, var)
importFrom(graphics, grid, legend, matplot)
importFrom(sandwich, vcovHC, vcovHAC)
importFrom(texreg, extract, createTexreg)
importFrom(methods, setMethod)

export(setModel, print.tlseModel, multiSplines, tlse, print.tlse,
       summary.tlse, selTLSE, print.summary.tlse, plot.tlse, extract)
 
S3method(summary, tlse)
S3method(print, tlseModel)
S3method(print, tlse)
S3method(print, summary.tlse)
S3method(plot, tlse)


