useDynLib(causalTLSE, .registration = TRUE, .fixes="F_")
importFrom(stats, quantile, lm, predict, coef, vcov, printCoefmat, cov, pnorm,
           as.formula, model.frame, model.matrix, delete.response,
           na.omit, pf, qnorm, residuals, terms, var, fitted, nobs)
importFrom(graphics, grid, legend, matplot)
importFrom(sandwich, vcovHC, vcovHAC)
importFrom(texreg, extract, createTexreg)
importFrom(methods, setMethod)

export(setModel, print.tlseModel, causalTLSE, print.causaltlse,
       summary.causaltlse, selTLSE, print.summary.causaltlse, plot.tlseFit,
       extract, predict.tlseFit, estModel, print.tlseFit,
       summary.tlseFit, print.summary.tlseFit, causalTLSE, causalTLSE.tlseModel,
       causalTLSE.tlseFit)
 
S3method(summary, causaltlse)
S3method(summary, tlseFit)
S3method(causalTLSE, tlseFit)
S3method(causalTLSE, tlseModel)
S3method(print, tlseModel)
S3method(print, causaltlse)
S3method(print, summary.causaltlse)
S3method(print, summary.tlseFit)
S3method(plot, tlseFit)
S3method(print, tlseFit)
S3method(predict, tlseFit)
S3method(model.matrix, tlseModel)


